@font-face {
    font-family: "korolevnorm";
    src: url(fonts/Korolev\ Medium.otf);
}
@font-face {
    font-family: "proxima";
    src: url(fonts/ProximaSoftCond-ExtraBold.ttf);
}
body{
    margin: 0;
}
nav{
    height: 115px;
    background-color: #00D2C6;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    border-bottom: 0.5px solid white;

}
.logo{
    height: 65%;
    margin-left: 29px;
    margin-right: auto;
}
.nav-right{
    display: flex;
}
.navbtn{
    display: flex;
    gap: 39px;
}
.navbtntext{
    font-family: korolevnorm;
    font-size: 22px;
    color: white;
    text-decoration: none;
}
.navbtntext:hover{
    text-decoration: underline;
}
.socials{
    display: flex;
    align-items: center;
    margin-right: 55px;
    margin-left: 55px;
    gap: 5px;

}
.socbtn{
    height: 28px;
}
.screen1{
    width: 100%;
    height: 730px;
    background-image: url(Bg/image1.webp);
    background-size: cover;
    display: flex;
    
}
.screen1content{
    padding-top: 245px;
    padding-left: 60px;
}
.screen2{
    width: 100%;
    height: 730px;
    background-image: url(Bg/image2.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen3{
    width: 100%;
    height: 730px;
    background-image: url(Bg/image3.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cap{
    font-family: proxima;
    font-size: 5.2vw;
    margin-top: 0;
    color: white;
    transform: scaleX(0.95);
    margin-bottom: 2px;
    }
    .learnmore{
        background: none;
        border: 2px solid white;
        color: white;
        text-align: center;
        height: 47px;
        width: 170px;
        font-size: large;
        border-radius: 100px;
        font-family: korolevnorm;
        margin-left: 15px;
    }
.screenbtn{
        background: none;
        border: 2px solid white;
        color: white;
        text-align: center;
        height: 47px;
        width: 170px;
        font-size: large;
        border-radius: 100px;
        font-family: korolevnorm;

        
    }
    .innerdiv{
        height: 200px;
        
        width: 685px;
        border-radius: 100px;
        background-color: rgba(10, 91, 43, 0.8);
        margin-top: 53px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
.title{
    width: 80%;
    text-align: center;
    font-family: korolevnorm;
    color: white;
    font-size: 32px;
    margin-bottom: 0;
}
.text{
    width: 80%;
    text-align: center;
    font-family: korolevnorm;
    color: white;
    margin-top: -10px;
    margin-bottom: -10px;
}
.screenbtn, .learnmore :hover{
    cursor: pointer;
}
footer{
    width: 100%;
    height: 130px;
    background-color: #3E3E3E;
    display: flex;
    justify-content: center;
}
.innerfooter{
    width: 57%;
    background-color: #3e3e3e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}
.links{
    font-family: korolevnorm;
    color: white;
    font-size: small;
    text-decoration: none;
    margin-bottom: 0;

    
}
.links:hover{
    text-decoration: underline
}
.copyright{
    font-family: korolevnorm;
    color: white;
    font-size: 11px;
    margin-top: -40px;
}